Package: chapel-minimal-dbgsym
Source: chapel-minimal
Version: 1.14.0-1
Architecture: amd64
Maintainer: Ben Albrecht <balbrecht@cray.com>
Installed-Size: 6572
Depends: chapel-minimal (= 1.14.0-1)
Section: debug
Priority: extra
Homepage: http://chapel.cray.com/
Description: Debug symbols for chapel-minimal
Auto-Built-Package: debug-symbols
Build-Ids: 6c8b381ac03839ed994fd7e5ec07461be63ed4a2
